{
	email {$ACME_EMAIL}
	storage file_system /data/caddy

	on_demand_tls {
		ask {$CADDY_ASK_URL}?token={$CADDY_EDGE_API_KEY}
	}

	auto_https disable_redirects

	servers :443 {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				allow 172.16.0.0/12
				fallback_policy skip
			}
			tls
		}
	}

	servers :80 {
		listener_wrappers {
			proxy_protocol {
				timeout 2s
				allow 172.16.0.0/12
				fallback_policy skip
			}
		}
	}
}

{$CADDY_MANAGED_SITE_1} {
	reverse_proxy {$ORIGIN_UPSTREAM:app:8080} {
		header_up Host {host}
		header_up X-Forwarded-Proto https
	}
}

{$CADDY_MANAGED_SITE_2} {
	reverse_proxy {$ORIGIN_UPSTREAM:app:8080} {
		header_up Host {host}
		header_up X-Forwarded-Proto https
	}
}

:80 {
	@managed_hosts host {$CADDY_MANAGED_SITE_1} {$CADDY_MANAGED_SITE_2}
	redir @managed_hosts https://{host}{uri} 308

	reverse_proxy {$ORIGIN_UPSTREAM:app:8080} {
		header_up Host {host}
		header_up X-Forwarded-Proto http
	}
}
